<!DOCTYPE html>
<html>
<head>
	<title>ADD</title>
</head>
<body>
<form>
<b>Name:</b></br>
<input type="text" name="name" placeholder="Enter Name"><p>
<b>College:</b></br>
<input type="text" name="college" placeholder="Enter College"><p>
<b>Course:</b></br>
<input type="text" name="course" placeholder="Enter Course"><p>
<b>Semester:</b></br>
<input type="text" name="semester" placeholder="Enter semester"><p>
<b>Contact No:</b></br>
<input type="text" name="contact" placeholder="Enter contact no"><p>
<b>Facebook Link:</b></br>
<input type="text" name="fblink" placeholder="Attach link to your fbprofile"><p>
<b>Select your Profile Image:</b></br>
<input type="file" name="Choose File"><p><p>
<input type="submit" value="Submit">

</form>
</body>
</html>